<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <add name="DBSCreditUnion" connectionString="Data Source=WIN-7-64-100GB\SQLEXPRESS2014;Initial Catalog=DBSCreditUnion;Integrated Security=True"/>
  
</connectionStrings>
  <appSettings>
    <add key="sortCode" value="101010"/>
  </appSettings>

  
</configuration>